.wheel-form input {
    width: 40%;
    margin: 0 4px 12px;
}

.play-button {
    display: block;
    margin: 80px auto;
    background-color: var(--danger-color);
}

.play-button:hover {
    border-width: 2px;
    border-color: var(--danger-secondary-color);
}
